.item_box {
    padding: 0 15px;
    vertical-align: top;
    margin: 0 0 30px
  }

.item {
    display: block;
    position: relative;
    z-index: 3
  }

.img_box {
    border: 1px solid #be2e21;
    position: relative
  }
 
.img:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle
   }
 
.product_card_image img {
   max-width: 50%;
}

.no-touch  .item:hover img {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9)
}

.title_box {
    border: 1px solid #be2e21;
    border-top: none;
    display: table;
    width: 100%
}

.align_m {
    height: 102px;
    padding: 4px 15px 18px
}

.title {
    display: block;
    font-family: Roboto-condensed;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.295em;
    color: #231f20
}

.no-touch  .item:hover .title {
    color: #be2e21
}

.backing {
    position: absolute;
    z-index: -1;
    left: 5px;
    top: -5px;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden
}

.backing:after {
   content: '';
   position: absolute;
   left: 50%;
   bottom: -2px;
   height: 6px;
   width: 75.62724014336918%;
   background: #be2e21;
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%)
}

.no-touch  .item:hover .backing:after {
   width: 80%
}

.zoom_icon {
    position: absolute;
    z-index: 2;
    opacity: 0!important;
    right: 33%;
    top: 30%;
    width:603px;
    height:417px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.product_card:hover .zoom_icon{ 
    opacity:1!important;
    background:rgba(255, 255, 255, 0.5) center no-repeat;
}

.product_card_image {
    margin: 0 auto;
    background: transparent;
}

.product_card:nth-child(4) {
    grid-column: 2/3;
}

/* .product_card:nth-child(5) {
    grid-column: 2/3;
} */