@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
/* .advice_item {
    height: 80vh;
} */

hr {
    margin: 20px;
}

.advice_item:first-child {
    padding-top: 220px;
}

.advice_title {
    font-size: 52px;
    font-family: "Source Serif Pro",serif;
    margin-bottom: 30px;
    font-weight: 600;
    font-family: 'Montserrat';
    text-align: center;
}

.advices_section_title {
    font-family: 'Comfortaa';
    text-align: center;
}

.advices_text p {
    font-size: 22px;
    color: #2a363a;
    text-align: center;
    font-family: 'PT Sans';
}

.advices_text{
    width: 70%;
    margin: 0 auto;
}

.advices_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.advices_image {
    background: url(https://cdn.pixabay.com/photo/2016/03/15/17/07/girl-1258727_960_720.jpg);
    background-size: contain;
    background-position: 0% 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.advices_section {
    overflow: hidden;
}

@media screen and (max-width: 639px) {
    .advices_wrapper {
        grid-template-columns: 1fr;
    }
    .advices_image {
       display: none;
    }
    .advice_item {
        height: unset;
    }
    .advice_title {
        font-size: 32px;
    }
    .advices_text {
        width: 100%;
    }
    .advice_item:first-child {
        padding-top: 0;
    }
  }