@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.about_titles {
    font-weight: bold;
    
}

.about_wrapper {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 22px;
    font-family: 'Lato';
    text-align: justify;
    line-height: 40px;
}

.about_wrapper h1 {
    font-family: 'Comfortaa';
}

.about_us_text {
    margin-bottom: 35px;
}

.about_us_for_customer {
    margin-bottom: 35px;
}

.advantages_items li {
    list-style-type: circle;
}

.contact_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 639px) {
    .about_wrapper p {
        padding: 0 15px;
    }
    .about_titles {
        text-align: center;
    }
    .contact_us p, .contact_us span {
        font-size: 18px;
        margin: 0;
        text-align: center;
    }
    .contact_us {
        grid-template-columns: 1fr;
    }
    .contact_us_title {
        margin: 0;
        text-align: center;
    }
    .advantages_items li {
        margin: 5px 30px;
        line-height: 25px;
    }
}