@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Amiri|Barlow|Caveat|Comfortaa|Dancing+Script|Lobster|Montserrat|PT+Sans|Pacifico&display=swap');

.main_block {
  background: #3c3f41; 
  background-size: cover;
  height: 100vh;
}

.main_block_info {
  color: white;
  position: absolute;
  top: 60%;
  left: 7%;
}

.main_block_about_production {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 100vh; */
  background: #fff;
}

.main_block_about_production_info {
  color: #99101a;
  font-size: 30px;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}
    

.main_block_about_production_image {
  padding: 20px;
}

.main_block_about_production_image img {
  width: 100%;
  transition: all .3s ease;
}

.main_block_about_production_image:hover img {
  transform: scale(1.1);
}

.open_catalog_btn {
  height: 50px;
  color: #fff;
  padding: 0 30px;
  background: #e61d2b;
  font: 14px/40px GothamPro;
  text-transform: uppercase;
  border-top: 0 solid #99101a;
  border-bottom: 10px solid #bf1420;
}

.main_title {
  font-size: 70px;
  color: white;
  font-family: 'Marck Script';
  position: absolute;
  left: 50%;
  word-spacing: 25px;
  letter-spacing: 2px;
}

.inner {
  min-height: 100vh;
  position: relative;
}

.inner_content {
  max-width: 1200px;
  margin: 0 auto;
}
 
.ingredients_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.copy {
  position: absolute; 
  top: 50%;  
  margin-top:-5em; 
  width: 100%;
}
  
.inner_content_info_title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat';
}

.inner_content_info {
  align-self: end;
}

.ingredients_item:nth-child(2n) .inner_content_info_title::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: black;
  width: 800px;
}

.ingredients_item:nth-child(2n+1) .inner_content_info_title::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: black;
  width: 800px;
  left: 34%; 
} 

.image_kor {
  width: 500px;
}

.image_psheno {
  width: 450px;
  height: 450px;
}

.ingredients_item:nth-child(2n+1) .inner_content_info_title {
  text-align: end;
}

.ingredients_item:nth-child(2n+1) .inner_content_info_text {
  text-align: right;
}

.inner_content_info_text {
  font-size: 22px;
}

.row2 {
  order: 2;
  text-align: right;
}

.ingredients_image {
  width: 400px;
  height: 400px;
}

.main_section {
  background: url(../../images/main1.jpg);
  background-size: cover;
  background-attachment: fixed;
}



@media screen and (max-width: 639px) {
.main_section {
  background-position-x: 78%!important;
}

.ingredients_item {
  grid-template-columns: 1fr;
}
.ingredients_item:nth-child(2n) .inner_content_info_title::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: black;
  width: 100%;
  left: unset;
}

.ingredients_item:nth-child(2n+1) .inner_content_info_title::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: black;
  width: 100%;
  left: unset;
}

.ingredients_image {
  width: 100%;
  height: 100%;
}

.inner_content_info {
  align-self: center;
}

.row2 {
  text-align: center;
  order: unset;
}

.ingredients_item:nth-child(n) .inner_content_info_text {
  text-align: center;
}

.ingredients_item:nth-child(n) .inner_content_info_title {
  text-align: center;
}

.main_title {
  font-size: 40px;
  left: unset;
}

.copy {
  position: absolute; 
  top: 50%;  
  margin-top:-5em; 
  width:100%;
}
}