.modal_wrapper {
    -webkit-transition: .5s all linear;
    transition: .5s all linear;
    will-change: transform;
}

.pages {
    height: 480px;
    width: 480px;
    perspective: 960px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}

.modal_wrapper {
    -webkit-transition: .5s all linear;
    transition: .5s all linear;
    will-change: transform;
}

.product_description, .nutritional_value_block, .nutritional_value_block p, .product_composition, .weight_expirationDate_info  {
    font-size: 22px;
    font-family: 'Lato';
    margin-bottom: 10px;
}

.nutritional_value_block {
    order: 2;
}

.badges_img {
    width: 85px;
}

.product_info_block_titles {
    font-weight: 600;
}