.contacts_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_form {
    border-top: solid thin #8e9699;
    border-bottom: solid thin #8e9699;
    margin: 20px 0;
    padding: 20px 0;
}


input, textarea {
    background: #f4f4f4;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    /* color: white; */
}

.submit_btn {
    text-transform: uppercase;
    background: #7BC087;
    width: 25%;
    color: white;
    margin-top: 5px;
    height: 37px;
}
.right_contact_block {
    /* background: #454f4f; */
   
    padding: 15px;
}

.right_contact_block p {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #8e9699;
}
.right_contact_block_title {
    text-transform: uppercase;
    color: #8e9699;
    text-align: center;
    font-size: 26px; 
    font-family: 'Lato';
}

@media screen and (max-width: 639px) {
    .contacts_section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    }

    .requisites_block_title {
        color: gray;
        text-transform: uppercase;
    }