@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

.novelty_list {
    margin: 0 0 68px;
    padding: 5px 0 0 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 35px;
    max-width: 1400px;
    margin: 0 auto;
}


@media screen and (max-width: 639px) {
    .novelty_list {
        grid-template-columns: 1fr;
    }
    }

.products_section {
    /* https://cdn.pixabay.com/photo/2017/07/14/15/57/kos-2504225_1280.jpg */
    background: url(https://cdn.pixabay.com/photo/2017/07/17/20/32/ears-2513801_1280.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.products_section_title {
    font-family: 'Slabo 27px';
    font-size: 55px;
}