.about_titles {
    font-weight: bold;
    
}

.about_wrapper {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 22px;
    font-family: 'Lato';
    text-align: justify;
    line-height: 40px;
}

.about_us_block {
 
}

/* .about_us_for_customer {
    margin: 22px;
} */

.about_us_text {
    margin-bottom: 35px;
}

.about_us_for_customer {
    margin-bottom: 35px;
}