.zoom_icon {
    position: absolute;
    z-index: 2;
    opacity: 0!important;
    right: 47%;
    top: 30%;
}

.product_card:hover .zoom_icon{ 
    opacity:1!important;
    background:rgba(255, 255, 255, 0.5) center no-repeat;
}


