@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
.novelty_list {
    margin: 0 0 68px;
    padding: 5px 0 0 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 35px;
    max-width: 1200px;
    margin: 0 auto;
}

.about_product_text {
    font-size: 22px;
    line-height: 31px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: justify;
    padding-bottom: 42px;
}

.products_section_title {
    font-family: 'Comfortaa';
    font-size: 45px;
}

.products_section {
    padding-top: 200px;
}

@media screen and (max-width: 639px) {
    .novelty_list {
        grid-template-columns: 1fr;
    }

    .about_product_text {
        margin: 0 30px;
    }

    .products_section_title {
        font-size: 30px;
    }

.products_section {
    padding-top: 120px;
  }
}